<%- include('./include/header.ejs') %>
<%- include('./include/navbar.ejs') %>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-6">
            <% if (session.userId) { %>
                <form action="/upload" method="post" enctype="multipart/form-data" class="row">
                    <div class="col-10">
                        <input type="file" class="form-control" id="image" name="image" accept="image/png" required>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary mb-3 w-100">Upload</button>
                    </div>
                </form>
            <% } %>

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Image Name</th>
                        <th scope="col">Upload Date</th>
                    </tr>
                </thead>
                <tbody>
                    <% images.forEach((image, index) => { %>
                        <tr onclick="document.getElementById('image-form-<%= index %>').submit()">
                            <td><%= image.name %></td>
                            <td><%= new Date(image.uploadDate).toLocaleString() %></td>
                            <form id="image-form-<%= index %>" action="/" method="get" style="display: none;">
                                <input type="hidden" name="imageId" value="<%= image._id %>" />
                            </form>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-lg-6">
            <% if (image) { %>
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" alt="Placeholder image" class="card-img-top" style="border: 2px solid black;">
                    <div class="card-body">
                        <h5 class="card-title"><%= image.name %></h5>
                        <% if (session.userId) { %>
                            <form action="/delete" method="post">
                                <input type="hidden" name="imageId" value="<%= image._id %>" />
                                <button type="submit" class="btn btn-danger mb-3">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include('./include/footer.ejs') %>